/* theme activation */
.td-activate-wrap {

  .td-err input,
  .td-err input:focus {
    border-color: #ff7c7c !important;
  }

  .td-activate-input-wrap {
    position: relative;
    margin-bottom: 23px;
  }

  .td-registration-info {
    width: 378px;
    color: green;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid
  }

  .td-activate-err {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 13px;
    color: #ff7c7c;
  }

  .td-activate-info {
    margin-top: 10px;
  }
}
